*{
	box-sizing: border-box;
}
div{
	/* outline-style: dotted;
	outline-color: orange; */
	/* margin: 2px; */
}
body{
	background-color: #e6fff9;
}
.panel-body{
	background-color: #ffe6ff;
}
.animmovieButtons, #find-movie{
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: #00cc99;
}
.item{	
	float: left;
	margin: 2px;
}